# Node modules
node_modules/

# React / Next.js build folders
.next/
build/
dist/

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db